<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="https://deltastring.com/public/img/pixel-nico.png" alt="pixel nico" width="100%" class="no-mob marg" />
      <h1 class="marg">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">{{ site.location }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == {{ site.baseurl }} %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <span class="sidebar-nav-item">
      <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2vJhNy3gMyKSTnIHj3xdsAONXezmHe6_8av4SPLlfGW-znFeNqORBTDvGbfbUK4Y5Iyb44DWLf" target="_blank" rel="noopener noreferrer">Book a chat!</a>
<br />
      <a href="mailto:{{ site.email }}">Email</a> | <a href="https://www.linkedin.com/in/nicoboyce/" target="_blank" rel="noopener noreferrer">LinkedIn</a> | <a href="https://wa.me/{{ site.tel }}" target="_blank" rel="noopener noreferrer">WhatsApp</a></span>
<!--
    <span class="sidebar-nav-item no-mob">{% include info.html %}</span>
    -->
  </div>
</div>
