<!-- Vids -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section bg-light" id="vids">
  <div class="container" style="position: relative; overflow: hidden; width: 100%; aspect-ratio: 16/9;">
      <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Latest videos from Team Deltastring</h2>
        <h3 class="section-subheading text-muted">Zendesk tips and tech contractor life.</h3>
      </div>
      </div><iframe style="position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 16/9;" src="https://www.youtube.com/embed/d3QzjCzaWOA?autoplay=0&cc_load_policy=1&cc_lang_pref=en" name="youtube embed" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <!-- src="//www.youtube.com/embed/ETlLIyQ42iY?autoplay=1&mute=1&cc_load_policy=1&cc_lang_pref=en"-->
  </div>
</section>
{% endif %}
<!-- End Vids -->