<!-- Vids -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="vids">
  <div class="container" style="position: relative; overflow: hidden; width: 100%; aspect-ratio: 16/9;">
    <iframe style="position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 16/9;" src="//www.youtube.com/embed/ETlLIyQ42iY?autoplay=1&mute=1&cc_load_policy=1&cc_lang_pref=en" name="youtube embed" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
  </div>
</section>
{% endif %}
<!-- End Vids -->