<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-base-09">

  {% include sidebar.html %}

  <div class="content container">
    {{ content }}
    <hr />
    <em>Nico Boyce and Deltastring Zendesk projects, past and present:</em><br />
    <div class="logo container">
      <a href="https://www.linkedin.com/company/checkout/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/checkout_logo.jpg" alt="Checkout"></a>
      <a href="https://www.linkedin.com/company/depop/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/depop_logo.jpg" alt="Depop"></a>
      <a href="https://www.linkedin.com/company/hofyworking/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/hofy_logo.jpg" alt="Hofy"></a>
      <a href="https://www.linkedin.com/company/igloo-energy/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/igloo_logo.jpg" alt="Igloo Energy"></a>
      <a href="https://www.linkedin.com/company/hyperjar/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/hyperjar_logo.jpg" alt="HyperJar"></a>
      <a href="https://www.linkedin.com/company/ivc-evidensia/" target="_blank" rel="noopener noreferrer"><img class="clientlogos" src="/public/img/logos/ivc_evidensia_logo.jpg" alt="Ivc Evidensia"></a>
    </div>
  </div>
  <div class="sidebar on-mob">
    <div class="sidebar-sticky">


      <span class="sidebar-nav-item on-mob">{% include info.html %}</span>
    </div>
  </div>

</body>

</html>