<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-09">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <div class="sidebar on-mob">
      <div class="container sidebar-sticky">


        <span class="sidebar-nav-item on-mob">Currently v1.1ish</span>
    
        <p class="on-mob">&copy; 2023. All rights reserved.<br />
          <sub>This site does not utilise cookies.<br />Do feel free to bake your own.</sub></p>
      </div>
    </div>



  </body>
</html>
