<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-09">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
      <hr />
      <em>Nico Boyce and Deltastring Zendesk projects, past and present:</em><br />
    <div class="logo container">
      <img class="clientlogos" src="/public/img/logos/igloo_logo.jpg" alt="Igloo Energy">
      <img class="clientlogos" src="/public/img/logos/checkout_logo.jpg" alt="Checkout">
      <img class="clientlogos" src="/public/img/logos/hofy_logo.jpg" alt="Hofy">
      <img class="clientlogos" src="/public/img/logos/depop_logo.jpg" alt="Depop">
      <img class="clientlogos" src="/public/img/logos/ivc_evidensia_logo.jpg" alt="Ivc Evidensia">
      <img class="clientlogos" src="/public/img/logos/hyperjar_logo.jpg" alt="HyperJar">
    </div>
  </div>
    <div class="sidebar on-mob">
      <div class="sidebar-sticky">


        <span class="sidebar-nav-item on-mob">{% include info.html %}</span>
      </div>
    </div>

  </body>
</html>